html,
body{
    margin: 0px;
    height: 100%;
}

body{
    display: flex;
    align-items: stretch;
}

.bg{
    background-color: #03C988;
}

.playerSide,
.computerSide
{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.gameArea
{
    flex:1.5;
    box-shadow: 0 0 50px #000000;
    z-index: 1;


}


