html,
body{
    margin: 0px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: stretch;
}

.bg{
    background-color: #03C988;
}

.playerSide,
.computerSide{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.gameArea{
    flex:1.5;
    box-shadow: 0 0 50px #000000;
    z-index: 1;
}

.name{
    flex :1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #4a9cc0;
    color : #a7ffbd;
    box-shadow: 0 0 30px #000000;
}

.score{
    flex : 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20em;
    color : #301c86;
}


