html,
body{
    text-align: center;
    margin: 0px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


.choose.selected{
    background-color: rgb(186, 252, 203);
    scale: 1.2;
    border-radius: 0vw;
}


img{
    -webkit-user-drag: none;
}

p{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: stretch;
}

.bg{
    background-color: #03C988;
}

.playerSide,
.computerSide{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.gameArea{
    padding: 3vw;
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    flex:1.5;
    box-shadow: 0 0 50px #000000;
    z-index: 1;
}

.choices{
    flex:1;
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
    gap: 5vw;
    width: 100%;
    margin : 1vh;
}

img{
    height: 15vh;
    width: auto;
}

.choiceCont{

    width: 40%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    gap : 3vw;
}

.chooseArea{
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.chooseOne{
    font-size: 3vw;
}

.choose{
    border-radius: 3vw;
    border: 0.3vw solid #000000;
    cursor: pointer;
    transition: 0.5s;
}
.confirm{
    font: inherit;
    font-size: 3vw;
    background: none;
    border: none;
    padding: 1vw;
    cursor: pointer;
    outline : inherit;
    border-radius: 2vw;
    border: 0.3vw solid black;
    margin-bottom: 2vh;
}

.name{
    flex :1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: #4a9cc0;
    color : #a7ffbd;
    box-shadow: 0 0 30px #000000;
}

.score{
    flex : 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vw;
    color : #bfecff;
}

.resultArea{
    height: 30%;
}


